

.player-container{
    width: 49% !important;
    height: 95%;
    border-radius: 10px;
    margin: 1%;
    align-content: center;
}
.player-bar{
    width: 100%;
    height: 15%;
    background-color: green;
    border: 2px darkgreen;
    border-radius: 7px 7px 0 0;
    display: flex;
    color: white;
}

.player-name{
    width: 100%;
    height: 15%;
    border-radius: 10px;
    display:flex;
    font-size: 22px;
    color: white;
    justify-content: center;
    text-shadow: 2px 2px 3px black;
}

.player-balance{
     width: 100%;
    height: 15%;
    border-radius: 10px;
    display:flex;
    font-size: 22px;
    color: white;
    justify-content: center;
    text-shadow: 2px 2px 3px black;
}

.FixedHeightContainer
{
    height: 82%;
    width:97%; 
    padding:3px; 
    display:flex;
    border-radius: 10px;
    font-size: 15px;
    overflow:scroll;
}
.player-property{  
    width:100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    overflow: scroll;
    display:flex;
}
.current-player{
    border: 2px solid green;
}


.list-group li {
    display: flex;
    align-items: center;
    justify-content: ;
    flex-direction: row;
    width: 99.6%;
    height: 50px;
    font-size: 1.2em;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #eee ;
}

.list-group li:nth-child(even){
    background-color: rgb(5, 5, 5);
}

.list-group {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.list-group .badge {
    background-color: #dc3545;
    color: #fff;
    font-size: 80%;
    box-sizing: border-box;
    border-radius: 4em;
    min-width: 1.5em;
    padding: 0.5em 0.3em;
    justify-self: right;
    text-align: center;
    
}

.list-group .propertyname{
    width: 50%;
    font-size: 15px;
}

.list-group li .mortgage-button{
    width: 23%;
    margin:0 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ffc107;
    background-color:#ffc107;
    color: black;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    
}
