.dicearea{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: lightgreen;
}
.dice-container{
    
    width: 15%;
    height: 100%;
    display: flex;
}
#dice1{
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
.dice2-container, .dice1-container{
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    justify-content: center;
    /* height: 75%; */
    margin: 0 0 0 5%;
    float: right;
}
#dice2{
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
.rollbtn-container{
    float: right;
    width: 25%;
    margin-left: 3%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.rollbtn{
    /* margin: 8% 0%; */
    width: 80%;
    height: 70%;
    border: none;
    background-color: #209e2e;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}

.current-playerName{
    font-size: 1.3em;
    font-weight: 600;
    /* border: 1px solid red; */
    align-self: center;
    /* height: 100%; */

}
